.blauw
{
	border-radius: 50px;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: blue;
}
.geel
{
	border-radius: 50px;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: yellow;
	transition: -webkit-transform: 1s;
}
.rood
{
	border-radius: 50px;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
}
.geel:hover
{
	-webkit-transform: translateY(50px);
}
