#rood{
	background-color: red;
}
#groen{
	background-color: green;
}
#geel{
	background-color: yellow;
}
.bolletje{
	border-radius:50px;
	position: absolute;
	width:20px;
	height: 20px;
	transition: -webkit-transform 1s;
}
.moveRood{
	-webkit-transform: translateX(125px);
}
.moveGroen{
		-webkit-transform: translateY(125px)
}
.moveGeel{
		-webkit-transform: translateY(125px) translateX(125px) 
}

