extends layout

block content
    ul(id="navigation")
      li(class="nav")
        a(href="/") Index
      li(class="nav")
        a(href="newuser" class="active") Ask
      li(class="nav")
        a(href="userlist") Questions
  h1 IMD Wall
  p Welcome to the IMD Wall