body{
	background-color: orange;
}
#weer{
	font-size: 130pt;
	color:white;
}

#container{
	margin-left: 50px;
	margin-top: 50px;
}
#span{
	color: red;
}
h1{
	font-size: 50pt;
}
p{
	font-size: 18pt;
	margin-bottom: 20px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.zon
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    }