body
{
	font-family: arial;
	font-size: 14px;
	color:white;
	margin:0px;
	font-weight: bold;
}


.wrapper
{
padding: 10px 10px;
background-color: black;
}


ul
{
	width: 100%;
	padding:0px;
	margin-bottom: 2px;
}


li
{
	padding: 20px 10px;
	list-style-type: none;
	font-size: 16px;
}


input
{
	background-color: #aaa;
	padding: 5px 5px;
	width:90%;
	border: none;
}


li#todo-add-item
{
	background-color: #333333 ;
	text-align: center;
	margin-bottom: -1px;
}


li.prior-high
{
	background-color: #990012;
}


li.prior-medium
{
	background-color:#f33f1c ;
}


li.prior-low
{
	background-color: #f26920;
}


.done
{
	background-color: #149414;
	text-decoration: line-through;
}


li.prior-high.done,
li.prior-medium.done,
li.prior-low.done
{
	background-color: #149414;
	text-decoration: line-through;
}


@media (min-width: 768px){


	.wrapper
	{
		width: 768px;
		margin: 0 auto;
	}
}

