body
{
	font-size: 62.5%; /* 16px*62.5%=10px */
	color: white;
	font-family: Cabin, sans-serif;
}


.container
{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}


header
{
	text-align: center;
}


.circle
{
	background-color: black;
	width: 0.24rem;
	height: 0.24rem;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 2px 5px 2px;


}


h1
{
	display: inline-block;
	color: black;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
}


ul 
{
	list-style-type: none;
}


li
{
	border-bottom: dotted 1px white;
	padding: 10px 20px 10px 20px;
	font-size: 1rem;
}	


.done
{
	color: white;
	text-decoration: line-through;
}


.prior-high
{
	background-color: #FF0021;
}


.prior-medium
{
	background-color: #FF5800;
}


.prior-low
{
	background-color: #00BB87;
}

