body
{
	font-size: 62.5%; /* 16px*62.5%=10px */
	color: white;
	font-family: Cabin, sans-serif;
}


.container
{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}


header
{
	text-align: center;
}


h1
{
	color: black;
	font-size: 12pt;
}


ul 
{
	list-style-type: none;
}


li
{
	padding: 10px 20px 10px 20px;
	font-size: 12pt;
	margin-bottom: 5px;
}	


.done
{
	color: white;
	text-decoration: line-through;
}


.high
{
	background-color: red;
}


.medium
{
	background-color: orange;
}


.low
{
	background-color: yellow;
	color: black;
}

