body
{
	font-family: sans-serif;
}

.container
{
	padding: 0 20px;
}

h1
{
	text-align: center;
}
form
{
	float: right;
	width: 50%;
}

#questions
{
	float: left;
	width: 50%;
}
label, input, textarea
{
	display: block;
	width: 100%;
}

input, textarea
{
	margin: 5px 0 10px;
	padding: 6px 5px;
}

#questions ul
{
	list-style: none;
	margin: 0;
	padding: 0 20px 0 0;
}
#questions li
{
	background-color: #f4f5f6;
	color: #999;
	padding: 15px 12px;
}
#questions li:nth-child(even)
{
	background-color: #ebedee;
}
